@media only screen and (max-width:1700px) {
    .bio .disc {
        width: 100% !important;
    }

    .bio .reel {
        display: none !important;
    }

    .overlay-text {
        display: none !important;
    }


}

@media only screen and (max-width: 500px) {
    #main-title {
        font-size: 64px;
    }
}

@media only screen and (max-width: 330px) {
    #main-title {
        font-size: 44px !important;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background-color: #2C2F33;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    color: white;
}

.header {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 6%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
    border-radius: 6px;
    padding: 2%;
}

.header .image {
    opacity: 0;
}

.header .image h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.05em;
}

.header .image img {
    width: 6%;
    border-radius: 100%;
    border-style: solid;
}

.header .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 100px;
    opacity: 0;

}

.header .subtitle {
    font-weight: 300;
    font-size: 26px;
    margin: 0 12%;
    opacity: 0;
}

.header .media {
    display: inline-flex;
    margin-top: 3%;
    opacity: 0;
    margin-right: 10%;
}

.header .media .email {
    font-size: 1.5em;
    margin-right: 9%;
    line-height: 2;
    background-color: #3498db;
    border-radius: 35px;
    padding: 2% 10%;
    color: white;
    box-shadow: 0px 23px 28px -24px rgb(52 152 219);
    border-style: solid;
}

.showcase li {
    height: 30em;
    opacity: 0;
}

.showcase p {
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    top: -7em;
    left: 4em;
    font-weight: 500;
    font-size: 50px;
    color: white;
    text-shadow: 1px 3px 0 #969696;

}

.showcase video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 1s;
}

.showcase video:hover {
    filter: grayscale(0%);
}

.showcase div {
    background-image: linear-gradient(-45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
    background-size: 4px 4px;
    z-index: 10;
}

.clients {
    margin-top: 5%;
    margin-bottom: 5%;
}

.clients ul {
    display: flex;
}

.clients h4 {
    font-weight: 300;
    margin-top: 32%;
}

.clients a {
    color: white;
}

.clients li img {
    border-radius: 100%;
    width: 38%;
    margin-left: 20%;
    border-style: solid;
}

.bio-row {
    background-color: #f3f3f2;
    height: 50%;
    color: black;
}

.bio .disc {
    margin-top: 8%;
}

.bio .disc h2 {
    font-weight: 500;
    font-size: 6vh;
}

.bio .disc p {
    font-size: 21px;
    font-weight: 300;
}

.bio .reel {
    position: absolute;
    left: 54%;
    transform: rotate(19deg);
    width: 41%;
    box-shadow: 2px 2px 6px #131212, 19px -15px 12px #212120;
    margin-top: 7%;
}

.bio .profile {
    margin-top: 2%;
    border-radius: 2%;
    box-shadow: 0px 23px 28px -24px #969696;
    height: 72.5vh;
    z-index: 100;
}

.bio iframe {
    margin-bottom: 4%;
}

.features div {
    text-align: center;
}

.features div i {
    margin: 3vh 0;
    color: #3498db;
    font-size: 7rem;
}

.features .column-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.features .column-text {
    font-size: 300;
    padding: 0px 18%;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
    margin: 0 17%;
}

.contact h3 {
    text-align: center;
    color: #3498db;
    font-weight: bold;
    margin-bottom: 2%;
}

.contact p {
    text-align: center;
}

.contact a {
    margin-left: 40%
}

.contact-button {
    width: 21%;
    height: 6vh;
    font-size: 1.5em;
    line-height: 2.4;
    margin-top: 1%;
}

.slider {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding-top: 2%;
    padding-left: 0.5%;
    border-radius: 16px;
}

.slider div iframe {
    border-radius: 4px;
}